.DS_Store
xcuserdata/
*.xcuserstate
DerivedData/
.build/
_claude
CLAUDE.local.md
ConvenienTimer/
*.pdf
config/index.json
.repokit
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.swiftpm
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
